<ion-content [fullscreen]="true" class="ion-padding">
    <h3>
      {{title}}
    </h3>
    <p class="dimension">
      Dimension Assumed ({{tableWidth}} * {{tableHeight}})
    </p>
    <p class="assumption">
      Toy is assumed as point object (very smaller than table) so its width and height are not considered
    </p>
    <div class="instruction">
      Click robot to know position
    </div>
    <!-- My Table -->
    <div class="table">
      <ion-icon id="myRobot" name="airplane-outline" (click)="shoutCurrentStatus()" class="default-robotClass"></ion-icon>
    </div>

    <div class="ion-margin-top">
      <ion-button (click)="placeMyRobot()">
        Place
      </ion-button>
      <ion-button (click)="moveToy()" id="move">
        Move
      </ion-button>
      <ion-button (click)="rotateLeft()" id="left">
        Left
      </ion-button>
      <ion-button (click)="rotateRight()" id="right">
        Right
      </ion-button>
    </div>
</ion-content>
